
.navbar1{
    display: flex;
    flex-direction: row; 
     background-color: #D2E0FB;
    justify-content: center;
    align-items: end;
    flex: 1;
    font-size: 50px;
}
.navbar2{
    background-color: #F9F3CC;
}

.navbarNavAltMarkup{
  position: relative;
  left: 90%;
}



.navbar3{
    background-color:#D7E5CA;
}
.sat{
    position: absolute;
    right: 10%;
    top: 10%;
}
.sat1{
    position: relative;
    right: 70%;
    background-color: #8EACCD;
}
.navbar4{
    background-color: #8EACCD;
    height: 600px;
    width: auto;
}
.footer{
  background-color: #F1F0E8;
  height: 400px;

}

/* footer section start */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
  }
  body{
    font-size:14px;
    background: #fff;
      max-width:1920px;
      margin:0 auto;
    overflow-x:hidden;
    font-family: poppins;
    
  
  }
  #footer{
    background: #f7f7f7;
      padding: 3rem;
    /* padding-top: 5rem; */
    padding-top: 7rem;
      padding-bottom: 80px;
      background-color: #F9F3CC;

  }
  #footer2{
    background: #f7f7f7;
    
      padding: 3rem;
      margin-top: 0px;
    /* padding-top: 5rem; */
    padding-top: 7rem;
      padding-bottom: 30px;
    background-image: url(../images/cards/v748-toon-111.png);
  }

  .social-links h2{
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .social-links img{
    padding-bottom: 25px;
  }
  .social-icons{
    /* display: flex;
      gap: 3rem; */
    display: flex;
      flex-direction: column;
      gap: 1rem;
    color: #777777;
  }
  .social-icons a{
    /* font-size: 18px; */
      /* background: #ffffff; */
      /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 3px;
    color: #82074a; */
    /* margin-right: 18px; */
    color: #777777;
  }
  .social-icons a:hover{
    color: #000;
  }
  .social-icons a i{
 
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 3px;
      padding-left: 10%;
      color: #82074a;
    font-size: 16px;
  }
  li{
    list-style: none;
  }
  .useful-link h2{
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .useful-link img{
    padding-bottom: 15px;
  }
  .use-links{
    line-height: 32px;
  }
  .use-links li i{
    padding-left: 30px;
    font-size: 14px;
      padding-right: 8px;
      color: #898989;
  }
  .use-links li a{
    color: #303030;
      font-size: 25px;
      font-weight: 500;
    color: #777777;
  }
  .use-links li a:hover{
    color: #000;
  }
  .address h2{
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .address img{
    padding-bottom: 15px;
  }
  .address-links li a{
    color: #303030;
      font-size: 25px;
      font-weight: 500;
    color: #777777;
  
  }
  .address-links li i{
    font-size: 26px;
      padding-right: 8px;
    color: #82074a;
  
  }
  .address-links li i:nth-child(1){
    padding-top: 9px;
  }
  .address-links .address1{
    font-weight: 500;
      font-size: 20px;
    display: flex;
  }
  .address-links{
      

      line-height: 37px;
      color: #777777;
  }
  .copy-right-sec1{
    padding: 1.8rem;
      background: black;
      color: #fff;
      text-align: center;
      position: relative;
       right: 80%;
  }
  .copy-right-sec1 a{
    color: #fcd462;
      font-weight: 500;
    
  }
  a{
    text-decoration:none;
  }

*{
    font-size: 20px;
  }

  .navbar5{
    font-size:30px;
    color: #000;
  }

  .copy-right-sec2{
    padding: 1.8rem;
      background: black;
      color: #fff;
      text-align: center;
  }
  .copy-right-sec2 a{
    color: #fcd462;
      font-weight: 500;
    
  }

  